<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Data Tables</title>
    <script src="./assets/js/jquery-2.1.4.min.js"></script>
  </head>
  <body>
  
<h1>Data Tables </h1>

		<table >
				<thead>
						<th>Name</th>
						<th>Position</th>
						<th>Office</th>
						<th>Age</th>
						<th>Start date</th>
						<th>Salary</th>
						<th>Salary1</th>
				</thead>
				<tfoot>
						<tr>
							<th>Name</th>
							<th>Position</th>
							<th>Office</th>
							<th>Age</th>
							<th>Start date</th>
							<th>Salary</th>
							<th>Salary1</th>
						</tr>
					</tfoot>
				<tbody>
				</tbody>
			</table>
		
  </body>

</html>